html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0 15px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	overflow: hidden;
}

#desktop {
	position: relative;
	width: 120vh;
	aspect-ratio: 4 / 3;
	background: url(images/mac-os.png) repeat;
	border-radius: 15px;
}

a {
	text-decoration: none;
}

img
{
	width: 150px;
}

#nav {
	padding: 0 15px;
	border-radius: 15px 15px 0 0;
	text-align: center;
	font-size: 1.6em;
}

#nav .flex-space {
	flex-grow: 1;
}

#footer {
	position: absolute;
	top: 45%;
	left: 33%;
	width: 20em;
	height: 3em;
	text-align: center;
}

.window {
	position: absolute;
	width: 45em;
	height: 25em;
}

#about {
	display: none;
	top: 15%;
	left: 5%;
}

#experience {
	display: none;
	top: 20%;
	left: 30%;
}

#projects {
	display: none;
	top: 40%;
	left: 18%;
}