html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	width: 120vh;
	max-width: 100vw;
	height: 90%;
	background: url(images/mac-os.png) repeat;
	border-radius: 15px;
}

a {
	text-decoration: none;
}

.flex-space{
	flex-grow: 1;
}

ul[role] {
	font-size: 1.6em;
}

ul[role="menu-bar"] {
	border-radius: 15px 15px 0 0;
}

#js {
	margin: 0 10px;
}

#home {
	position: fixed;
	inset: 0px;
	width: 12rem;
	height: 5rem;
	max-width: 100vw;
	max-height: 100dvh;
	margin: auto;
}